<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="CadenaDeConexionLocal" connectionString="Server=localhost; Database=tp2_net; User=net; Password=net"
       providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>